{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title>
        {% endif %}
    </head>
    <body>
        
       
         <!-- Business News  -->
         <h3> Business News</h3>
         <ul>
            {{ macro.displayNewsList(business)}}  
        </ul>

        <!-- Entertainment News  -->
        <h3> Entertainment News </h3>
         <ul>
            {{ macro.displayNewsList(entertainment)}}
        </ul>
        <!-- technology news -->
        <h3>Technology News</h3>
         <ul>
            {{ macro.displayNewsList(technology)}}
        </ul>
    </body>
</html>